.color {

  &__list {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__item {

    flex: 1;
    color: white;
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
    justify-content: space-between;

    &--invert {
      color: #121212;
    }

    &:hover {
      .color__actions {
        visibility: visible;
      }
    }

  }

  &__actions {

    visibility: hidden;

    
  }

}

@media (max-width: 768px) {
  .color {
    &__list {
      height: auto;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__item {
      flex-direction: column;
      justify-content: space-around;
    }
  }
}