.info {
  padding: 60px;
  color: #121212;

  &__title {
    margin-bottom: 15px;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__description {
    line-height: 1.5;
    font-size: 12px;
    color: #616161;
  }

}

.palette {

  padding: 60px;
  width: 100%;

  &__picker {
    width: 100%;

    .color-picker {
      width: 100%;
    }

    .color-picker-sv {
      width: calc(100% - 20px);
    }
  }

  &__input {
    display: none;
  }

}