<div class="wrapper">
    <div class="info">
        <h2 class="info__title">Color Palette</h2>
        <div class="info__description">
            <p>Choose your favorite color and enjoy it's pallete.</p>
        </div>
    </div>

    <div class="combination__actions">
        <button ng-repeat="co in vm.combinations" ng-class="vm.ifActive(co)?'button--active':'button--outline'" ng-click="vm.setCombination(co)"
            class="button">{{co}}</button>
    </div>

    <div class="palette">




    </div>

    <canvas id="palletePicker" width="200" height="200" style="width: 200px; height: 200px"></canvas>
</div>