
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  flex-basis: 380px;
}

.main {
  flex: 1;
}

.wrapper {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .main {
    display: flex;
  }
}